<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MenuBarTest3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACEE23771E485AD300A48BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACEE238B1E485AD300A48BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACEE23961E485AD300A48BA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
